ProLnk/n8n-workflows/03-partner-welcome-sequence.json
{
  "name": "ProLnk — 03 Partner Welcome Sequence",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prolnk-partner-approved",
        "responseMode": "onReceived"
      },
      "id": "webhook-trigger",
      "name": "Webhook — Partner Approved",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "fromEmail": "welcome@prolnk.com",
        "toEmail": "={{ $json.partnerEmail }}",
        "subject": "Welcome to ProLnk, {{ $json.partnerName }}! 🎉",
        "emailFormat": "html",
        "message": "=<div style='font-family:Inter,sans-serif;max-width:600px;margin:0 auto;'><h2 style='color:#0A1628;'>You're in, {{ $json.partnerName }}!</h2><p>Your ProLnk partner account is approved and ready. Here's how to get your first lead in the next 24 hours:</p><ol><li><strong>Complete your profile</strong> — add your service area and business type</li><li><strong>Download Field OS</strong> — log your first job from the field</li><li><strong>Log a job</strong> — upload photos and let AI find opportunities for you</li></ol><a href='https://prolnk.manus.space/dashboard' style='background:#0A1628;color:#fff;padding:14px 28px;border-radius:8px;text-decoration:none;display:inline-block;margin-top:16px;font-weight:600;'>Go to Your Dashboard →</a><p style='color:#666;margin-top:24px;'>Your referral code: <strong>{{ $json.referralCode }}</strong> — share it to earn bonus commissions.</p></div>"
      },
      "id": "welcome-email",
      "name": "Resend — Welcome Email (Day 0)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [460, 200]
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "days"
      },
      "id": "wait-day1",
      "name": "Wait 1 Day",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [460, 380]
    },
    {
      "parameters": {
        "fromEmail": "tips@prolnk.com",
        "toEmail": "={{ $json.partnerEmail }}",
        "subject": "=Quick tip: How {{ $json.partnerName }} can earn their first commission",
        "emailFormat": "html",
        "message": "=<div style='font-family:Inter,sans-serif;max-width:600px;margin:0 auto;'><h2 style='color:#0A1628;'>The fastest path to your first commission</h2><p>Partners who log a job with photos in their first 7 days earn their first commission 3x faster. Here's the exact flow:</p><ol><li>Open Field OS on your phone</li><li>Tap the camera button after completing a job</li><li>Upload 2-3 photos of the property</li><li>AI scans for opportunities and routes them to matching partners</li><li>When a partner closes the job — you earn a commission</li></ol><a href='https://prolnk.manus.space/field-os' style='background:#0A1628;color:#fff;padding:14px 28px;border-radius:8px;text-decoration:none;display:inline-block;margin-top:16px;font-weight:600;'>Open Field OS →</a></div>"
      },
      "id": "day1-email",
      "name": "Resend — Day 1 Tip Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 380]
    },
    {
      "parameters": {
        "amount": 6,
        "unit": "days"
      },
      "id": "wait-day7",
      "name": "Wait 6 More Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [900, 380]
    },
    {
      "parameters": {
        "fromEmail": "tips@prolnk.com",
        "toEmail": "={{ $json.partnerEmail }}",
        "subject": "Week 1 check-in — how's it going?",
        "emailFormat": "html",
        "message": "=<div style='font-family:Inter,sans-serif;max-width:600px;margin:0 auto;'><h2 style='color:#0A1628;'>One week in — let's see where you stand</h2><p>Check your dashboard to see your current stats, any pending leads, and your tier progress.</p><p>If you haven't logged your first job yet, now is the time — the network is most active on weekdays between 8am-6pm.</p><a href='https://prolnk.manus.space/dashboard' style='background:#0A1628;color:#fff;padding:14px 28px;border-radius:8px;text-decoration:none;display:inline-block;margin-top:16px;font-weight:600;'>View My Dashboard →</a></div>"
      },
      "id": "day7-email",
      "name": "Resend — Day 7 Check-in",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1120, 380]
    }
  ],
  "connections": {
    "Webhook — Partner Approved": {
      "main": [
        [
          { "node": "Resend — Welcome Email (Day 0)", "type": "main", "index": 0 },
          { "node": "Wait 1 Day", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait 1 Day": {
      "main": [[{ "node": "Resend — Day 1 Tip Email", "type": "main", "index": 0 }]]
    },
    "Resend — Day 1 Tip Email": {
      "main": [[{ "node": "Wait 6 More Days", "type": "main", "index": 0 }]]
    },
    "Wait 6 More Days": {
      "main": [[{ "node": "Resend — Day 7 Check-in", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["prolnk", "partner", "onboarding"],
  "_meta": {
    "description": "3-email welcome sequence: Day 0 (welcome + portal link), Day 1 (first job tip), Day 7 (check-in). Fires on partner approval. Payload: { partnerEmail, partnerName, referralCode }",
    "setup": "1. Set Resend env vars. 2. Set webhook URL in ProLnk admin → Webhooks → Partner Approved. 3. Activate."
  }
}
