ProLnk/n8n-workflows/04-commission-paid-notification.json
{
  "name": "ProLnk — 04 Commission Paid Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prolnk-commission-paid",
        "responseMode": "onReceived"
      },
      "id": "webhook-trigger",
      "name": "Webhook — Commission Paid",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "accountSid": "={{ $env.TWILIO_ACCOUNT_SID }}",
        "authToken": "={{ $env.TWILIO_AUTH_TOKEN }}",
        "from": "={{ $env.TWILIO_FROM_NUMBER }}",
        "to": "={{ $json.partnerPhone }}",
        "message": "=💰 Commission paid! ${{ $json.amount }} has been sent to your bank account for the {{ $json.jobType }} referral at {{ $json.serviceAddress }}. View details: https://prolnk.manus.space/dashboard/earnings"
      },
      "id": "twilio-sms",
      "name": "Twilio — Commission SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [460, 220]
    },
    {
      "parameters": {
        "fromEmail": "payments@prolnk.com",
        "toEmail": "={{ $json.partnerEmail }}",
        "subject": "=💰 ${{ $json.amount }} commission paid — {{ $json.jobType }}",
        "emailFormat": "html",
        "message": "=<div style='font-family:Inter,sans-serif;max-width:600px;margin:0 auto;'><h2 style='color:#0A1628;'>Commission Paid 💰</h2><div style='background:#F4F6FA;border-radius:12px;padding:20px;margin:20px 0;'><p style='margin:0;color:#666;font-size:14px;'>Job Type</p><p style='margin:4px 0 16px;font-weight:600;color:#0A1628;'>{{ $json.jobType }}</p><p style='margin:0;color:#666;font-size:14px;'>Service Address</p><p style='margin:4px 0 16px;font-weight:600;color:#0A1628;'>{{ $json.serviceAddress }}</p><p style='margin:0;color:#666;font-size:14px;'>Amount Paid</p><p style='margin:4px 0 0;font-size:28px;font-weight:800;color:#0A1628;'>${{ $json.amount }}</p></div><p>Funds will appear in your connected bank account within 2-3 business days via Stripe Connect.</p><a href='https://prolnk.manus.space/dashboard/earnings' style='background:#0A1628;color:#fff;padding:14px 28px;border-radius:8px;text-decoration:none;display:inline-block;margin-top:16px;font-weight:600;'>View Earnings →</a></div>"
      },
      "id": "resend-email",
      "name": "Resend — Commission Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [460, 380]
    }
  ],
  "connections": {
    "Webhook — Commission Paid": {
      "main": [
        [
          { "node": "Twilio — Commission SMS", "type": "main", "index": 0 },
          { "node": "Resend — Commission Email", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["prolnk", "partner", "payments"],
  "_meta": {
    "description": "Fires when admin marks a commission as paid. Sends SMS + email to partner. Payload: { partnerPhone, partnerEmail, amount, jobType, serviceAddress }",
    "setup": "1. Set Twilio + Resend env vars. 2. Set webhook URL in ProLnk admin → Webhooks → Commission Paid. 3. Activate."
  }
}
