ProLnk/n8n-workflows/05-partner-winback-sequence.json
{
  "name": "ProLnk — 05 Partner Win-Back (30-Day Inactive)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 24 }]
        }
      },
      "id": "cron-trigger",
      "name": "Cron — Daily 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "=https://prolnk.manus.space/api/trpc/admin.getInactivePartners",
        "method": "GET",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-n8n-api-key", "value": "={{ $env.PROLNK_N8N_API_KEY }}" }
          ]
        },
        "queryParameters": {
          "parameters": [
            { "name": "input", "value": "{\"inactiveDays\":30}" }
          ]
        }
      },
      "id": "fetch-inactive",
      "name": "HTTP — Fetch Inactive Partners",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "result.data",
        "include": "allOtherFields"
      },
      "id": "split-partners",
      "name": "Split — Each Partner",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fromEmail": "team@prolnk.com",
        "toEmail": "={{ $json.contactEmail }}",
        "subject": "We miss you — there are leads waiting for you",
        "emailFormat": "html",
        "message": "=<div style='font-family:Inter,sans-serif;max-width:600px;margin:0 auto;'><h2 style='color:#0A1628;'>Hey {{ $json.businessName }},</h2><p>It's been a while since we've seen you in the network. While you've been away, we've been building something worth coming back for.</p><p>There are currently <strong>active leads in your service area</strong> that haven't been claimed yet. Partners who log a job this week are 4x more likely to receive a lead within 48 hours.</p><a href='https://prolnk.manus.space/dashboard' style='background:#0A1628;color:#fff;padding:14px 28px;border-radius:8px;text-decoration:none;display:inline-block;margin-top:16px;font-weight:600;'>Check Your Dashboard →</a><p style='color:#999;font-size:12px;margin-top:32px;'>Reply to this email if you need help or have questions.</p></div>"
      },
      "id": "winback-email",
      "name": "Resend — Win-Back Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Cron — Daily 9am": {
      "main": [[{ "node": "HTTP — Fetch Inactive Partners", "type": "main", "index": 0 }]]
    },
    "HTTP — Fetch Inactive Partners": {
      "main": [[{ "node": "Split — Each Partner", "type": "main", "index": 0 }]]
    },
    "Split — Each Partner": {
      "main": [[{ "node": "Resend — Win-Back Email", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["prolnk", "partner", "retention"],
  "_meta": {
    "description": "Runs daily at 9am. Fetches partners inactive for 30+ days and sends a win-back email. Requires PROLNK_N8N_API_KEY env var for the internal API call.",
    "setup": "1. Set Resend env vars. 2. Set PROLNK_N8N_API_KEY in n8n env. 3. Activate. Note: Requires getInactivePartners admin procedure to be built (Wave 4)."
  }
}
