ProLnk/n8n-workflows/06-dispute-opened-admin-alert.json
{
  "name": "ProLnk — 06 Dispute Opened Admin Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prolnk-dispute-opened",
        "responseMode": "onReceived"
      },
      "id": "webhook-trigger",
      "name": "Webhook — Dispute Opened",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "fromEmail": "alerts@prolnk.com",
        "toEmail": "={{ $env.ADMIN_EMAIL }}",
        "subject": "=⚠️ Dispute Opened — Commission #{{ $json.commissionId }} by {{ $json.partnerName }}",
        "emailFormat": "html",
        "message": "=<div style='font-family:Inter,sans-serif;max-width:600px;margin:0 auto;'><h2 style='color:#EA0606;'>Dispute Opened</h2><div style='background:#FFF5F5;border:1px solid #FED7D7;border-radius:12px;padding:20px;margin:20px 0;'><p><strong>Partner:</strong> {{ $json.partnerName }} (ID: {{ $json.partnerId }})</p><p><strong>Commission ID:</strong> #{{ $json.commissionId }}</p><p><strong>Amount in Dispute:</strong> ${{ $json.amount }}</p><p><strong>Reason:</strong> {{ $json.reason }}</p><p><strong>Opened:</strong> {{ $json.openedAt }}</p></div><p>Per policy, you have <strong>72 hours</strong> to resolve this dispute before it escalates.</p><a href='https://prolnk.manus.space/admin/disputes' style='background:#EA0606;color:#fff;padding:14px 28px;border-radius:8px;text-decoration:none;display:inline-block;margin-top:16px;font-weight:600;'>Review Dispute →</a></div>"
      },
      "id": "admin-email",
      "name": "Resend — Admin Dispute Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [460, 220]
    },
    {
      "parameters": {
        "accountSid": "={{ $env.TWILIO_ACCOUNT_SID }}",
        "authToken": "={{ $env.TWILIO_AUTH_TOKEN }}",
        "from": "={{ $env.TWILIO_FROM_NUMBER }}",
        "to": "={{ $env.ADMIN_PHONE }}",
        "message": "=⚠️ ProLnk Dispute: {{ $json.partnerName }} opened dispute on commission #{{ $json.commissionId }} (${{ $json.amount }}). Reason: {{ $json.reason }}. Review: https://prolnk.manus.space/admin/disputes"
      },
      "id": "admin-sms",
      "name": "Twilio — Admin Dispute SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [460, 380]
    }
  ],
  "connections": {
    "Webhook — Dispute Opened": {
      "main": [
        [
          { "node": "Resend — Admin Dispute Alert", "type": "main", "index": 0 },
          { "node": "Twilio — Admin Dispute SMS", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["prolnk", "disputes", "admin"],
  "_meta": {
    "description": "Fires when a partner opens a dispute. Alerts admin via email + SMS. Payload: { commissionId, partnerId, partnerName, amount, reason, openedAt }. Requires ADMIN_EMAIL and ADMIN_PHONE env vars.",
    "setup": "1. Set ADMIN_EMAIL, ADMIN_PHONE, Twilio + Resend env vars. 2. Wire webhook in ProLnk admin → Webhooks → Dispute Opened. 3. Activate."
  }
}
