ProLnk/n8n-workflows/07-homeowner-seasonal-checkin.json
{
  "name": "ProLnk — 07 Homeowner Seasonal Check-In",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "cronExpression": "0 9 1 3,6,9,12 *"
        }
      },
      "id": "cron-trigger",
      "name": "Cron — Quarterly (Mar/Jun/Sep/Dec 1st at 9am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://prolnk.manus.space/api/trpc/admin.getActiveHomeowners",
        "method": "GET",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-n8n-api-key", "value": "={{ $env.PROLNK_N8N_API_KEY }}" }
          ]
        }
      },
      "id": "fetch-homeowners",
      "name": "HTTP — Fetch Active Homeowners",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "result.data",
        "include": "allOtherFields"
      },
      "id": "split-homeowners",
      "name": "Split — Each Homeowner",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fromEmail": "hello@trustypro.com",
        "toEmail": "={{ $json.email }}",
        "subject": "=It's time for your seasonal home check-in 🏡",
        "emailFormat": "html",
        "message": "=<div style='font-family:Inter,sans-serif;max-width:600px;margin:0 auto;'><h2 style='color:#0A1628;'>Hi {{ $json.displayName }},</h2><p>Every season brings new maintenance needs for your home. Our AI has been watching for opportunities specific to your property — here's what to look out for this season:</p><ul><li>HVAC filter replacement and tune-up</li><li>Gutter cleaning and inspection</li><li>Lawn care and seasonal treatments</li><li>Pest control preventive treatment</li></ul><p>Upload a few photos of your home and let TrustyPro's AI scan for anything that needs attention.</p><a href='https://prolnk.manus.space/my-home/photos' style='background:#0A1628;color:#fff;padding:14px 28px;border-radius:8px;text-decoration:none;display:inline-block;margin-top:16px;font-weight:600;'>Scan My Home →</a><p style='color:#999;font-size:12px;margin-top:32px;'><a href='{{ $json.unsubscribeUrl }}'>Unsubscribe from seasonal emails</a></p></div>"
      },
      "id": "seasonal-email",
      "name": "Resend — Seasonal Check-In Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Cron — Quarterly (Mar/Jun/Sep/Dec 1st at 9am)": {
      "main": [[{ "node": "HTTP — Fetch Active Homeowners", "type": "main", "index": 0 }]]
    },
    "HTTP — Fetch Active Homeowners": {
      "main": [[{ "node": "Split — Each Homeowner", "type": "main", "index": 0 }]]
    },
    "Split — Each Homeowner": {
      "main": [[{ "node": "Resend — Seasonal Check-In Email", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["prolnk", "homeowner", "retention"],
  "_meta": {
    "description": "Runs quarterly (March, June, September, December 1st at 9am). Fetches all active homeowners and sends a seasonal check-in email encouraging photo uploads.",
    "setup": "1. Set Resend + PROLNK_N8N_API_KEY env vars. 2. Activate."
  }
}
