ProLnk/n8n-workflows/12-dispute-resolved.json
{
  "name": "12 - Dispute Resolved Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dispute-resolved",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-dispute-resolved",
      "name": "Webhook: Dispute Resolved",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [{ "value1": "={{ $json.resolution }}", "operation": "equal", "value2": "approved" }]
        }
      },
      "id": "check-resolution",
      "name": "Approved or Denied?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@prolnk.com",
        "toEmail": "={{ $json.partnerEmail }}",
        "subject": "✅ Your dispute has been resolved in your favor",
        "html": "<h2>Good news, {{ $json.partnerName }}!</h2><p>Your dispute for commission <strong>#{{ $json.commissionId }}</strong> has been reviewed and <strong>approved</strong>.</p><p><strong>Amount restored:</strong> ${{ $json.amount }}</p><p><strong>Admin note:</strong> {{ $json.adminNote }}</p><p>The commission has been added back to your payout queue and will be released in the next payout cycle.</p><a href='{{ $json.dashboardUrl }}' style='background:#059669;color:white;padding:12px 24px;border-radius:8px;text-decoration:none;display:inline-block;margin-top:16px;'>View Earnings</a>"
      },
      "id": "email-partner-approved",
      "name": "Email Partner: Approved",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [680, 180]
    },
    {
      "parameters": {
        "fromEmail": "noreply@prolnk.com",
        "toEmail": "={{ $json.partnerEmail }}",
        "subject": "Update on your dispute for commission #{{ $json.commissionId }}",
        "html": "<h2>Hi {{ $json.partnerName }},</h2><p>We've completed our review of your dispute for commission <strong>#{{ $json.commissionId }}</strong>.</p><p>After reviewing the evidence, we were unable to approve this dispute.</p><p><strong>Admin note:</strong> {{ $json.adminNote }}</p><p>If you believe this decision was made in error, you may file an appeal within 72 hours by visiting your Dispute Center.</p><a href='{{ $json.disputeUrl }}' style='background:#0A1628;color:white;padding:12px 24px;border-radius:8px;text-decoration:none;display:inline-block;margin-top:16px;'>File Appeal</a>"
      },
      "id": "email-partner-denied",
      "name": "Email Partner: Denied",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [680, 420]
    },
    {
      "parameters": {
        "fromEmail": "noreply@prolnk.com",
        "toEmail": "={{ $json.homeownerEmail }}",
        "subject": "Update on your service dispute",
        "text": "Hi {{ $json.homeownerName }},\n\nWe've completed our review of the dispute related to your {{ $json.serviceCategory }} service.\n\nResolution: {{ $json.resolutionSummary }}\n\nIf you have any questions, please reply to this email.\n\n— ProLnk Team"
      },
      "id": "email-homeowner-update",
      "name": "Email Homeowner: Update",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook: Dispute Resolved": { "main": [[{ "node": "Approved or Denied?", "type": "main", "index": 0 }]] },
    "Approved or Denied?": {
      "main": [
        [
          { "node": "Email Partner: Approved", "type": "main", "index": 0 },
          { "node": "Email Homeowner: Update", "type": "main", "index": 0 }
        ],
        [
          { "node": "Email Partner: Denied", "type": "main", "index": 0 },
          { "node": "Email Homeowner: Update", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "Fires when admin resolves a dispute. Sends outcome email to partner (approved = commission restored, denied = appeal instructions) and a neutral update to the homeowner.",
    "triggerWebhookPath": "/webhook/dispute-resolved",
    "requiredFields": ["partnerEmail", "partnerName", "homeownerEmail", "homeownerName", "commissionId", "amount", "resolution", "adminNote", "resolutionSummary", "serviceCategory", "dashboardUrl", "disputeUrl"]
  }
}
