ProLnk/client/public/n8n-workflows/01-lead-dispatched-sms.json
{
  "name": "ProLnk: Lead Dispatched → Partner SMS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prolnk-lead-dispatched",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json.event }}",
              "rightValue": "lead.dispatched",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "check-event",
      "name": "Check Event Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromNumber": "={{ $env.TWILIO_FROM_NUMBER }}",
        "toNumber": "={{ $json.partner_phone }}",
        "message": "ProLnk: New lead for you! 🏠 {{ $json.homeowner_name }} at {{ $json.address }} needs {{ $json.job_type }}. Est. value: ${{ $json.estimated_value }}. Log in to accept: https://prolnk.io/dashboard/leads"
      },
      "id": "send-sms",
      "name": "Send Partner SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [680, 220],
      "credentials": { "twilioApi": { "id": "twilio-credentials", "name": "Twilio" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"message\": \"SMS sent to partner\" } }}"
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": false, \"message\": \"Event type mismatch, skipped\" } }}"
      },
      "id": "respond-skip",
      "name": "Respond Skip",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Check Event Type", "type": "main", "index": 0 }]] },
    "Check Event Type": {
      "main": [
        [{ "node": "Send Partner SMS", "type": "main", "index": 0 }],
        [{ "node": "Respond Skip", "type": "main", "index": 0 }]
      ]
    },
    "Send Partner SMS": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "templateCredsSetupCompleted": false,
    "prolnk": {
      "version": "1.0",
      "trigger_event": "lead.dispatched",
      "webhook_url": "https://your-n8n-instance.com/webhook/prolnk-lead-dispatched",
      "payload_fields": ["event", "partner_phone", "homeowner_name", "address", "job_type", "estimated_value", "lead_id"]
    }
  }
}
