ProLnk/client/public/n8n-workflows/02-homeowner-opportunity-email.json
{
  "name": "ProLnk: Homeowner Opportunity Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prolnk-homeowner-opportunity",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.event }}",
              "rightValue": "opportunity.created",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "check-event",
      "name": "Check Event Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromEmail": "offers@prolnk.io",
        "fromName": "ProLnk",
        "toEmail": "={{ $json.homeowner_email }}",
        "subject": "🏠 We found something for your home at {{ $json.address }}",
        "emailType": "html",
        "message": "<html><body style='font-family: sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;'><img src='https://prolnk.io/logo.png' alt='ProLnk' style='height: 40px; margin-bottom: 24px;' /><h2 style='color: #0A1628;'>Hi {{ $json.homeowner_name }},</h2><p>Our AI scanned your recent photos and found a <strong>{{ $json.issue_type }}</strong> at your property that could use attention.</p>{% if $json.ai_mockup_url %}<img src='{{ $json.ai_mockup_url }}' alt='AI Vision' style='width: 100%; border-radius: 12px; margin: 16px 0;' /><p style='font-size: 12px; color: #666;'>AI-generated vision of what this could look like after repair.</p>{% endif %}<p><strong>Estimated cost:</strong> ${{ $json.estimated_cost_low }}–${{ $json.estimated_cost_high }}</p><a href='https://prolnk.io/my-home/offers?id={{ $json.opportunity_id }}' style='display: inline-block; background: #0A1628; color: white; padding: 12px 24px; border-radius: 8px; text-decoration: none; font-weight: bold; margin: 16px 0;'>View Your Offer →</a><p style='color: #666; font-size: 14px;'>This offer expires in 72 hours. A verified ProLnk partner is ready to help.</p><hr style='border: none; border-top: 1px solid #eee; margin: 24px 0;' /><p style='color: #999; font-size: 12px;'>ProLnk · Dallas-Fort Worth · <a href='https://prolnk.io/unsubscribe?email={{ $json.homeowner_email }}'>Unsubscribe</a></p></body></html>"
      },
      "id": "send-email",
      "name": "Send Homeowner Email",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2,
      "position": [680, 220],
      "credentials": { "smtp": { "id": "smtp-credentials", "name": "SMTP / SendGrid" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true } }}"
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": false, \"skipped\": true } }}"
      },
      "id": "respond-skip",
      "name": "Respond Skip",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Check Event Type", "type": "main", "index": 0 }]] },
    "Check Event Type": {
      "main": [
        [{ "node": "Send Homeowner Email", "type": "main", "index": 0 }],
        [{ "node": "Respond Skip", "type": "main", "index": 0 }]
      ]
    },
    "Send Homeowner Email": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "prolnk": {
      "version": "1.0",
      "trigger_event": "opportunity.created",
      "payload_fields": ["event", "homeowner_email", "homeowner_name", "address", "issue_type", "ai_mockup_url", "estimated_cost_low", "estimated_cost_high", "opportunity_id"]
    }
  }
}
