ProLnk/client/public/n8n-workflows/04-commission-paid-notification.json
{
  "name": "ProLnk: Commission Paid → Partner SMS + Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prolnk-commission-paid",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.event }}",
              "rightValue": "commission.paid",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "check-event",
      "name": "Check Event",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromNumber": "={{ $env.TWILIO_FROM_NUMBER }}",
        "toNumber": "={{ $json.partner_phone }}",
        "message": "💰 ProLnk: ${{ $json.amount }} commission paid! Job: {{ $json.job_type }} at {{ $json.address }}. View history: https://prolnk.io/dashboard/earnings"
      },
      "id": "send-sms",
      "name": "Send SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [680, 220],
      "credentials": { "twilioApi": { "id": "twilio-credentials", "name": "Twilio" } }
    },
    {
      "parameters": {
        "fromEmail": "commissions@prolnk.io",
        "fromName": "ProLnk",
        "toEmail": "={{ $json.partner_email }}",
        "subject": "💰 ${{ $json.amount }} commission paid to your account",
        "emailType": "html",
        "message": "<html><body style='font-family: sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;'><h2>Commission Paid!</h2><p>Hi {{ $json.partner_name }},</p><p>A commission of <strong>${{ $json.amount }}</strong> has been transferred to your bank account.</p><table style='width: 100%; border-collapse: collapse; margin: 16px 0;'><tr><td style='padding: 8px; color: #666;'>Job Type</td><td style='padding: 8px; font-weight: bold;'>{{ $json.job_type }}</td></tr><tr style='background: #f9f9f9;'><td style='padding: 8px; color: #666;'>Address</td><td style='padding: 8px;'>{{ $json.address }}</td></tr><tr><td style='padding: 8px; color: #666;'>Commission Rate</td><td style='padding: 8px;'>{{ $json.commission_rate }}%</td></tr><tr style='background: #f9f9f9;'><td style='padding: 8px; color: #666;'>Job Value</td><td style='padding: 8px;'>${{ $json.job_value }}</td></tr><tr><td style='padding: 8px; color: #666;'>Payout Date</td><td style='padding: 8px;'>{{ $json.paid_at }}</td></tr></table><a href='https://prolnk.io/dashboard/earnings' style='display: inline-block; background: #0A1628; color: white; padding: 12px 24px; border-radius: 8px; text-decoration: none; font-weight: bold;'>View Payout History →</a></body></html>"
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2,
      "position": [900, 220],
      "credentials": { "smtp": { "id": "smtp-credentials", "name": "SMTP / SendGrid" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true } }}"
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 220]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Check Event", "type": "main", "index": 0 }]] },
    "Check Event": { "main": [[{ "node": "Send SMS", "type": "main", "index": 0 }], []] },
    "Send SMS": { "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]] },
    "Send Email": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "prolnk": {
      "version": "1.0",
      "trigger_event": "commission.paid",
      "payload_fields": ["event", "partner_phone", "partner_email", "partner_name", "amount", "job_type", "address", "commission_rate", "job_value", "paid_at"]
    }
  }
}
