ProLnk/client/public/n8n-workflows/07-homeowner-seasonal-checkin.json
{
  "name": "ProLnk: Homeowner Seasonal Check-In (Spring + Fall)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "cronExpression": "0 0 9 1 3,9 *"
        }
      },
      "id": "seasonal-trigger",
      "name": "Seasonal Trigger (Mar 1 + Sep 1 at 9am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://prolnk.io/api/trpc/admin.getActiveHomeowners",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $env.PROLNK_API_KEY }}" }
          ]
        }
      },
      "id": "fetch-homeowners",
      "name": "Fetch Active Homeowners",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "result.data",
        "options": {}
      },
      "id": "split-homeowners",
      "name": "Split Homeowners",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fromEmail": "home@prolnk.io",
        "fromName": "ProLnk Home",
        "toEmail": "={{ $json.email }}",
        "subject": "🍂 Time for your seasonal home check-in",
        "emailType": "html",
        "message": "<html><body style='font-family: sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;'><h2>Hi {{ $json.name }},</h2><p>It's that time of year — a quick property scan now can save you thousands in repairs later.</p><p>Upload 3-5 photos of your home's exterior, roof, gutters, and any areas of concern. Our AI will scan for issues and match you with verified pros in your area.</p><a href='https://prolnk.io/trustypro/scan' style='display: inline-block; background: #0A1628; color: white; padding: 12px 24px; border-radius: 8px; text-decoration: none; font-weight: bold;'>Start Your Seasonal Scan →</a><p style='color: #666; font-size: 14px; margin-top: 24px;'>Takes less than 2 minutes. No obligation.</p></body></html>"
      },
      "id": "send-checkin-email",
      "name": "Send Seasonal Check-In Email",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2,
      "position": [900, 300],
      "credentials": { "smtp": { "id": "smtp-credentials", "name": "SMTP / SendGrid" } }
    }
  ],
  "connections": {
    "Seasonal Trigger (Mar 1 + Sep 1 at 9am)": { "main": [[{ "node": "Fetch Active Homeowners", "type": "main", "index": 0 }]] },
    "Fetch Active Homeowners": { "main": [[{ "node": "Split Homeowners", "type": "main", "index": 0 }]] },
    "Split Homeowners": { "main": [[{ "node": "Send Seasonal Check-In Email", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "prolnk": {
      "version": "1.0",
      "trigger_type": "scheduled_seasonal",
      "notes": "Fires on March 1 and September 1 at 9am. Sends all active homeowners a seasonal property scan prompt."
    }
  }
}
