ProLnk/client/public/n8n-workflows/08-partner-nps-survey.json
{
  "name": "ProLnk: Partner NPS Survey (Day 7 After First Job)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prolnk-first-job-completed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.event }}",
              "rightValue": "partner.first_job_completed",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "check-event",
      "name": "Check Event",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"scheduled\": \"nps_day7\" } }}"
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "amount": 7,
        "unit": "days"
      },
      "id": "wait-7-days",
      "name": "Wait 7 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [680, 220]
    },
    {
      "parameters": {
        "fromEmail": "feedback@prolnk.io",
        "fromName": "Andrew at ProLnk",
        "toEmail": "={{ $json.partner_email }}",
        "subject": "Quick question about your ProLnk experience",
        "emailType": "html",
        "message": "<html><body style='font-family: sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;'><h2>Hi {{ $json.partner_name }},</h2><p>You completed your first job through ProLnk a week ago. I have one question:</p><p style='font-size: 18px; font-weight: bold; margin: 24px 0;'>On a scale of 0–10, how likely are you to recommend ProLnk to another contractor?</p><div style='display: flex; gap: 8px; flex-wrap: wrap; margin: 16px 0;'>{{ range $i := seq 0 10 }}<a href='https://prolnk.io/nps?score={{ $i }}&partner={{ $json.partner_id }}&token={{ $json.nps_token }}' style='display: inline-block; width: 40px; height: 40px; line-height: 40px; text-align: center; background: #f5f5f5; border-radius: 8px; text-decoration: none; color: #0A1628; font-weight: bold;'>{{ $i }}</a>{{ end }}</div><p style='color: #666; font-size: 14px;'>Takes 5 seconds. Your feedback shapes how we build ProLnk.</p></body></html>"
      },
      "id": "send-nps-email",
      "name": "Send NPS Survey Email",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2,
      "position": [900, 220],
      "credentials": { "smtp": { "id": "smtp-credentials", "name": "SMTP / SendGrid" } }
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Check Event", "type": "main", "index": 0 }]] },
    "Check Event": {
      "main": [
        [{ "node": "Wait 7 Days", "type": "main", "index": 0 }, { "node": "Respond OK", "type": "main", "index": 0 }],
        []
      ]
    },
    "Wait 7 Days": { "main": [[{ "node": "Send NPS Survey Email", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "prolnk": {
      "version": "1.0",
      "trigger_event": "partner.first_job_completed",
      "payload_fields": ["event", "partner_email", "partner_name", "partner_id", "nps_token"]
    }
  }
}
